.btn {
    font-weight: 500 !important;
}

.bg-bege {
    background-color: #f6f3ecbe;
}

.bg-menu,
.btn-bege {
    background-color: #cebc96 !important;
}

.btn-bege:hover {
    background-color: #cebc96ae !important;
}

.jsCalendar.custom-calendar tbody td.jsCalendar-current {
    background-color: #cebc96;
}
.jsCalendar.custom-calendar *::selection {
    background: #cebc96;
}
.jsCalendar.custom-calendar *::-moz-selection {
    background: #cebc96;
}
.jsCalendar.material-theme.custom-calendar thead {
    background-color: #cebc96;
}
.jsCalendar.material-theme.custom-calendar thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.custom-calendar thead .jsCalendar-nav-right:hover {
    background-color: #f6f3ecbe;
}
.jsCalendar.classic-theme.custom-calendar thead {
    background-color: #cebc96;
}
.jsCalendar.classic-theme.custom-calendar thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.custom-calendar thead .jsCalendar-nav-right:hover {
    background-color: #f6f3ecbe;
}