.btn {
    font-weight: 500 !important;
}

.bg-body {
    background-color: #f6f3ecbe;
}

.bg-menu {
    background-color: var(--primary-color, #cebc96) !important;
}

.btn-bege {
    background-color: var(--primary-color, #cebc96) !important;
    color: #FFF !important;
}

.btn-bege:hover {
    background-color: var(--btn-hover, #cebc96ae) !important;
}

/* CALENDÁRIO CLIENTE */
.jsCalendar.custom-calendar tbody td.jsCalendar-current {
    background-color: transparent;
    color: #000;
}
.jsCalendar.custom-calendar *::selection {
    background: var(--primary-color, #cebc96);
}
.jsCalendar.custom-calendar *::-moz-selection {
    background: var(--primary-color, #cebc96);
}
.jsCalendar.material-theme.custom-calendar thead {
    background-color: var(--primary-color, #cebc96);
}
.jsCalendar.material-theme.custom-calendar thead .jsCalendar-nav-left:hover,
.jsCalendar.material-theme.custom-calendar thead .jsCalendar-nav-right:hover {
    background-color: #f6f3ecbe;
}
.jsCalendar.classic-theme.custom-calendar thead {
    background-color: var(--primary-color, #cebc96);
}
.jsCalendar.classic-theme.custom-calendar thead .jsCalendar-nav-left:hover,
.jsCalendar.classic-theme.custom-calendar thead .jsCalendar-nav-right:hover {
    background-color: #f6f3ecbe;
}

.jsCalendar tbody td:hover {
    background-color: var(--primary-color, #cebc96);
    color: var(--text-date-hover, #000);
}

/* LIST HOURS */

